@using MVCApplication.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Urunler>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h2>Ürünler</h2>
<br />
<div class="conatiner">
    <a href="/Urun/YeniUrun" class="btn btn-outline-primary form-control">+ Yeni Ürün</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ürün Ad</th>
        <th>Marka</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunId</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Kategoriler.KategoriAd</td>
            <td>@item.Fiyat.ToString() ₺</td>
            <td>@item.Stok</td>
            <td>
                <a href="/Urun/UrunSil/@item.UrunId" class="btn btn-sm btn-danger">Sil</a>
                <a href="/Urun/UrunGuncelle/@item.UrunId" class="btn btn-sm btn-info">Güncelle</a>
                <a href="#" class="btn btn-sm btn-success">Detay</a>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }),new PagedListRenderOptions { LiElementClasses = new string[] { "btn btn-outline-primary" } })

