@using MVCApplication.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Musteriler>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h2>Müşteriler</h2>
<hr />
<br />
@using (Html.BeginForm("Index", "Müsteri", FormMethod.Get))
{
    <b>Aranacak Müşteri : @Html.TextBox("p")</b>
    <input type="submit" value="Ara" />
}
<br />
<div class="conatiner">
    <a href="/Müsteri/YeniMusteri" class="btn btn-outline-primary form-control">+ Yeni Müşteri</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Müşteri Ad Soyad</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MusteriId</td>
            <td>@item.MusteriAd @item.MusteriSoyad</td>
            <td>
                <a href="/Müsteri/MusteriSil/@item.MusteriId" class="btn btn-sm btn-danger">Sil</a>
                <a href="/Müsteri/MusteriGuncelle/@item.MusteriId" class="btn btn-sm btn-info">Güncelle</a>
                @Html.ActionLink("Sil Butonu", "MusteriSil", new { id = item.MusteriId }, new { @class = "btn btn-sm btn-warning", onclick = "return confirm('Silmek İstiyor musunuz?')" })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions { LiElementClasses = new string[] { "btn btn-outline-primary" } })

